sudo: false
language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc-4.9
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
            - libboost-dev
      install: export CXX="g++-4.9" CC="gcc-4.9"

before_script: 

script:
  # unique_read_extractor
  - cd unique_read_extractor
  - cmake ../unique_read_extractor -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./unique_read_extractor -i example_data/subsample.sam -o example_data/new_result.sam
  - diff example_data/result.sam example_data/new_result.sam

  # w50_creator
  - cd ../w50_creator
  - cmake ../w50_creator -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./w50_creator -i example_data/GSM952438_TFH39.all.cg-col.gff.gz -s 50 -l window -p dzlab -o result.w50.gff
  - cat result.w50.gff | awk '{printf "%s\t%s\t%s\t%s\t%s\t%.4f\t%s\t%s\t%s\n",$1,$2,$3,$4,$5,$6,$7,$8,$9}' > result.w50_mod.gff
  - diff result.w50_mod.gff example_data/GSM952438_TFH39.all.cg-col.DZ.w50_mod.gff

  # single-c_combine
  - cd ../single-c_combine
  - cmake ../single-c_combine -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./single-c_combine -i example_data/example_rep1.w1.gff -i example_data/example_rep2.w1.gff -l CG -o result.gff
  - cat result.gff | awk '{printf $1"\t"$2"\t"$3"\t"$4"\t"$5"\t%.2f\t"$7"\t"$8"\t"$9"\n", $6}' > result_mod.gff
  - ./single-c_combine -i example_data/example_rep2.w1.gff -i example_data/example_rep1.w1.gff -l CG -o result2.gff
  - cat result2.gff | awk '{printf $1"\t"$2"\t"$3"\t"$4"\t"$5"\t%.2f\t"$7"\t"$8"\t"$9"\n", $6}' > result2_mod.gff
  - diff result_mod.gff result2_mod.gff
  - diff result_mod.gff example_data/old_program_result.w1_rep2_rep1.gff

  # bam_2_w1_extractor
  - cd ../bam_2_w1_extractor
  - cmake ../bam_2_w1_extractor -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./bam_2_w1_extractor -i example_data/test.sam -o test.gff.gz
  - ./bam_2_w1_extractor -i example_data/test.bam -o test2.gff

  # gff_feature_merge
  - cd ../gff_feature_merge
  - cmake ../gff_feature_merge -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./gff_feature_merge -h

  # weighted_w1_extractor
  - cd ../weighted_w1_extractor
  - cmake ../weighted_w1_extractor -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./weighted_w1_extractor -i example_data/test.bam -o test.gff

  # methyl_coverage
  - cd ../methyl_coverage
  - cmake ../methyl_coverage -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./methyl_coverage

  # fasta_insert
  - cd ../fasta_insert
  - cmake ../fasta_insert -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - gunzip example_data/TAIR10_reference_wCM.fa.gz
  - ./fasta_insert -r example_data/TAIR10_reference_wCM.fa -i example_data/example_insert.fasta -o output.fasta -c Chr4 -p 6780927

  # bam2bed
  - cd ../bam2bed
  - cmake ../bam2bed -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./bam2bed

  # tss_label
  - cd ../tss_label
  - cmake ../tss_label -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./tss_label

  # cytosine_abundance
  - cd ../cytosine_abundance
  - cmake ../cytosine_abundance -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./cytosine_abundance
  - ./cytosine_abundance -r example_data/region.gff -i example_data/TAIR10_reference_ChrC.fa -o meh.gff

  # pausing_index
  - cd ../pausing_index
  - cmake ../pausing_index -DCMAKE_MODULE_PATH=../seqan/util/cmake -DSEQAN_INCLUDE_PATH=../seqan/include -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_BUILD_TYPE=Release
  - make -j2
  - ./pausing_index
  - ./pausing_index -i example_data/example.w1.gff -a example_data/example_annotation.gff -tss 200 -o meh.gff

  # return back to parent directory
  - cd ../

  # now make make the release
  - tar cvzf xftools.tar.gz gff_feature_merge/gff_feature_merge single-c_combine/single-c_combine weighted_w1_extractor/weighted_w1_extractor bam2bed/bam2bed methyl_coverage/methyl_coverage bam_2_w1_extractor/bam_2_w1_extractor fasta_insert/fasta_insert w50_creator/w50_creator cytosine_abundance/cytosine_abundance tss_label/tss_label pausing_index/pausing_index

deploy:
  provider: releases
  api_key:
    secure: qi2Rz7Zmc7UAi44FLwdVe0k5uUAp+Xvz4xcwxelgZpfN93pNuSLtFwvykChujc/W4Ci9NWNeEqvmIWs2vBE41pYpBdhQwx3z6exmKn9f5dw47JyUXzItaMW9DsDgcentowvuSUrIhnUPYVuim3Oq4so8ZepLojgIvxwspXQ7+rVIPPUILVBFiASazDTIh3wgVRb4HXE9vE/tr5Uyq/S9SxcGCzwp+2DJqQRoPoSvOzbGZ54BWADFPhlAbb5CHcP/NUjrm6gLDnsuPNUtlcWqmikMQ0P+b87pYYiaEVoDYxkzltwUP+RZMtx0yyREu9WuMAFF9jGrYIekPfVbllaaH/ZA7KTuAzvBLxi1ldcamK0oWUdZ5QYCRYuPNeg0vRPBnvUdJyne4nNGftnxoZbNT57zReQNp+dKWC6yAo/QPHnITnZZBKT6YH0rG1XFiw06zY3IHvIwWaNEQ11PtBT5cWPMtzlRYQT4YDrahOXRuNsEX01p0Eu30aavlVFEbcFDyeTl/6cxmVY4kpgN0SCfBWwhIMB4eQZ6HjVQyaQRBHsuwOAUOtEsCvjBuchdgobVII5JSTuziiO02+ftaBw81GuVKIrgDFLEr87UG7G7oDpFZXEv3oNckSUBXE76eZaFQDXkEbkr4bFWwTeN66qQ5nFq5JMKfyIw/3uW/QsCZbM=
  file: xftools.tar.gz
  skip_cleanup: true
  on:
    repo: martinjvickers/xftools
    tags: true
